$pry-orange: hsl(25, 97%, 53%);
$light-gray: hsl(217, 12%, 63%);
$medium-gray: hsl(217, 15%, 24%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$font-size: 15px;
$font-family: Overpass, sans-serif;

@mixin box {
  border-radius: 10px;
  background: $dark-blue;
  max-width: 400px;
  padding: 2rem;
}
%para-shared {
  line-height: 1.5rem;
  color: $light-gray;
}
%flex-shared {
  display: flex;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $very-dark-blue;
  height: 99vh;
  font-family: $font-family;
}
main {
  @extend %flex-shared;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white;
}
section {
  @include box();
  z-index: 2;
  img {
    padding: 0.7rem;
    border-radius: 100%;
    background: $medium-gray;
  }
  h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  p {
    @extend %para-shared;
  }
  ul {
    @extend %flex-shared;
    justify-content: space-between;
    margin: 1.5rem 0;
    li {
      list-style: none;
      button {
        background: inherit;
        border: none;
        cursor: pointer;
        font-family: $font-family;
        color: $light-gray;
        padding: 0.8rem 1.15rem;
        background: $medium-gray;
        border-radius: 50%;
        &:hover {
          color: white;
          background: $pry-orange;
        }
      }
    }
  }
  .submit-btn {
    text-transform: uppercase;
    font-family: $font-family;
    background: $pry-orange;
    border-radius: 30px;
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $pry-orange;
    }
  }
}
.thank-you-state {
  @include box;
  opacity: 0;
  position: absolute;
  text-align: center;
  z-index: 0;
  font-family: $font-family;
  img {
    border-radius: 0%;
    background: inherit;
  }
  button {
    position: absolute;
    left: 4%;
    top: 5%;
    background: $medium-gray;
    outline: none;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-family: inherit;
  }
  .selected-container {
    border-radius: 20px;
    color: $pry-orange;
    background: $medium-gray;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    display: inline-block;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
}
.show {
  opacity: 1;
  z-index: 2;
}
// body {
//   font-family: $font-family;
//   color: white;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   min-height: 98vh;
// }
// main {
//   border-radius: 10px;
//   background: $dark-blue;
//   max-width: 400px;
//   padding: 2rem;
//   img {
//     padding: 0.7rem;
//     border-radius: 100%;
//     background: $medium-gray;
//   }
//   h1 {
//     font-size: 1.5rem;
//     margin: 1rem 0;
//   }
//   ul {
//     display: flex;
//     margin: 1.5rem 0;
//     justify-content: space-evenly;
//     li {
//       list-style-type: none;
//       display: inline-block;
//       background: $medium-gray;
//       border-radius: 100%;
//       padding: 0.6rem 1.1rem;
//       &:first-child {
//         padding: 0.7rem 1.2rem;
//       }
//     }
//     button {
//       background: inherit;
//       border: none;
//       font-weight: 700;
//       font-family: inherit;
//       color: $light-gray;
//       cursor: pointer;
//     }
//   }
//   .submit-btn {
//     text-transform: uppercase;
//     font-family: $font-family;
//     background: $pry-orange;
//     border-radius: 30px;
//     padding: 1rem;
//     letter-spacing: 0.2rem;
//     font-weight: 700;
//     width: 100%;
//     border: none;
//     color: white;
//     cursor: pointer;
//   }
// }
// p {
//   line-height: 1.5rem;
//   color: $light-gray;
// }
// section {
//   position: absolute;
//   overflow: hidden;
//   opacity: 0;
//   transition: all 0.3s ease-in-out;
//   border-radius: 10px;
//   background: $dark-blue;
//   max-width: 400px;
//   padding: 2rem 1.5rem;
//   text-align: center;
//   p.selected-container {
//     border-radius: 20px;
//     color: $pry-orange;
//     background: $medium-gray;
//     padding: 0.5rem 1rem;
//     margin: 1.5rem 0;
//     display: inline-block;
//   }
//
//   p {
//     text-align: center;
//   }
// }
// .show-section {
//   opacity: 1;
// }
.attribution {
  line-height: 1.5rem;
  a {
    text-decoration: none;
    &:hover {
      color: $pry-orange;
    }
  }
}
